<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SNOW BDD Test Suite">
    <test name="Regression Test" preserve-order="true">
        <classes>
            <class name="com.snowTest.testRunner.TestRunner"/>
        </classes>
    </test>
</suite>